/* Reset default margin and padding */
html, body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set styles for the container */
.container {
    display: flex;
    align-items: stretch;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Style the navigation container */
#nav-container {
    width: 100px;
    background-color: #0074c2; /* Change the background color as needed */
    display: flex;
    align-items: center;
}

#nav-container img {
    width: 80px; /* Adjust the image width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    margin: 10px auto; /* Center the image vertically */
}

/* Style the body container */
#body-container {
    flex: 1;
    display: flex;
}

/* Left section */
#left {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.profile-main-card {
    background-color: #F9F9F9;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.university-values{
    margin-top: 15px;
    border-radius: 8px;
    padding-top: 10px;
    margin-left: 20px;
    width: 340px;
    
}



.school-values{
    border-radius: 8px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 20px;
    width: 340px;
}


.content-sub-card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    /* width: 480px; */
    /* height: 192px; */
}


.upper_profile {
    display: flex;
    align-items: center;
}

.left-column-profile-main-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.right-column-profile-main-card {
    margin-left: 10px;
}

.right-column-profile-main-card h2 {
    font-size: 24px;
    margin: 0;
}

.right-column-profile-main-card p.email {
    color: #A9A9A9;
    font-size: 14px;
    margin: 5px 0;
}

.bottom-column-profile-main-card .notes {
    background-color: #F1F1F1;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: #737373;
    margin-top: 10px;
}

.bottom-column-profile-main-card .buttons {
    margin-top: 10px;
}

.buttons button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}



.card {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    
    
  }

  .title{
    font-size: 14px; /* Reduced font size */
    color: #414d55;
    margin-bottom: 5px; /* Reduced margin */
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

  .average {
    text-align: right;
    font-size: 10px;
    color: #333;
    
  }

  .bar-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
  }

  .bar {
    height: 20px;
    border-radius: 10px;
    background-color: #FFD700;
    width: 0%;
    transition: width 0.5s;
  }

  
  .bar-text {
    padding: 0 5px;
    color: #696D6E;
    font-size: 14px;
    font-family: 'Roboto Light', sans-serif;
  }

  .slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #FFD700 0%, #FFD700 50%, #d3d3d3 50%, #d3d3d3 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFD700;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFD700;
  cursor: pointer;
}

.sidebyside{

}



/* naman ends*/

/* Dhaval Start */
/* Right section */

#right {
    flex: 3.2;
    display: flex;
    flex-direction: column;
}

#right-body {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#right-body-top {
    display: flex;
    justify-content: space-between;
}

#right-body-top-left{
    flex: 1;
}


#right-body-top-left {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#right-body-top-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
}

#top-section{
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F9F9F9;
}

#bottom-section{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F9F9F9;
    margin-left: 20px;
    margin-bottom: 10px;
}

#bottom-section-buttons {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}

#right-body-top-left .top-section .title {
    /* width: 133px; */
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica, sans-serif;
    font-weight: 700;
    color: #414d55;
    font-size: 16px;
    letter-spacing: 0.01px;
    line-height: 20px;
}

.file-section {
    background: #f4f8fa;
    border-radius: 10px; /* Reduced border radius */
    padding: 10px; /* Reduced padding */
    box-sizing: border-box;
    width: max-content;
    margin: auto;
  }
  
  .file-section-header {
    font-size: 14px; /* Reduced font size */
    color: #414d55;
    margin-bottom: 5px; /* Reduced margin */
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  
  .file-buttons {
    display: flex;
    gap: 5px; /* Reduced gap between buttons */
  }
  
  .file-btn {
    background: none;
    color: #316cf5;
    border: 1px solid #316cf5; /* Reduced border width */
    border-radius: 10px; /* Reduced border radius */
    padding: 5px 10px; /* Reduced padding */
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 12px; /* Reduced font size */
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .file-btn:hover {
    background: #316cf5;
    color: white;
  }
  
  .file-btn.active {
    background: #316cf5;
    color: white;
  }



  h2 {
    color: #414D55;
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.01px;
  }
  
  .statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .scores{
    width: 50%;
  }
  
  .achievements, .extra-curricular {
    width: 100%;
  }
  
  h3 {
    color: #696D6E;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 200% */
    letter-spacing: 0.417px;
    text-transform: uppercase;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: SF Pro Display;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }

  .section-header {
    color: #000;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: -0.15px;
    text-align: center;
    }

  
  #right-body-bottom {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F9F9F9;
  }


#chart {
    width: 100%;
    /* max-height: fit-content; */
    }


    .right-body-bottom-content {
        max-height: 270px;
        overflow: hidden;
    }
    
    
    .content-scrollable {
        max-height: 270px;
        overflow-y: auto;
    }

    .footer {
        width: 100%; 
        height: 14px; 
        background: #316CF5;
        text-align: center; 
        color: white; 
        font-size: 10px; 
        font-family: 'SF Pro Display', sans-serif; 
        font-weight: 400; 
        line-height: 14px; 
        letter-spacing: 6.85px;
         word-wrap: break-word;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1; /* Use z-index to make sure it appears above other content */
    }
  /* Dhaval End */


  