<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/analysisStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">            
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/static/js/analysis.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
    <div id="container" class= "container">
        <div id="nav-container" style="width: 80px; height: 500px;">
                <img src="/static/images/left_nav.png" style="width: 100px; height: 600px; ;" alt="left nav">
        </div>

        <div id = "body-container">
            <div id = "header">
            </div>
        
            <div id="left">
                <div id = "left-body">
                    <!-- naman starts -->
                    <div class="profile-main-card">
                        <div class="upper_profile">
                            <div class="left-column-profile-main-card">
                                <img src="/static/images/profile_pic.png" alt="Naman Khurpia">
                            </div>
                            <div class="right-column-profile-main-card">
                                <p class="name">Student Name</p>
                                <p class="seeking">Seeking - M.Sc Computer Science + Data Science</p>
                                <p class="applicationdate">Application Received - 12/04/2023</p>
                                <p class="email">namankhurpia2@gmail.com</p>
                            </div>
                        </div>
                        <div class="bottom-column-profile-main-card">
                            <div class="notes">
                                <p>Wore these with my training tee and pods to a graduation bbq and the young bucks was all over it. Love the look and feel.</p>
                            </div>
                            <div class="buttons">
                                <button type="button" onclick="acceptProfile()" >Accept</button>
                                <button type="button" onclick="rejectProfile()">Reject</button>
                                <button type="button" onclick="waitlistProfile()">Waitlist</button>
                            </div>
                        </div>
                    </div>

                    
                    
                    <div class = "university-values">
                        <div class="card">
                            <div class="sidebyside">
                                <div class="title">Overall Evaluation</div>
                                <div class="average">4.9</div>
                            </div>
                            <div class="value">
                              <div class="bar-text">Academic Record</div>
                              <input type="range" min="1" max="5" value="4" class="slider" id="myRange1" oninput="updateSlider1(this)">
                            </div>
                            <div class="value">
                              <div class="bar-text">Statement of Purpose</div>
                              <input type="range" min="1" max="5" value="2" class="slider" id="myRange2" oninput="updateSlider1(this)">
                            </div>
                            <div class="value">
                              <div class="bar-text">Letters of Recommendation</div>
                              <input type="range" min="1" max="5" value="4" class="slider" id="myRange3" oninput="updateSlider1(this)">
                            </div>
                            <div class="value">
                              <div class="bar-text">Diversity</div>
                              <input type="range" min="1" max="5" value="2" class="slider" id="myRange4" oninput="updateSlider1(this)">
                            </div>
                          </div>
                    </div>

                    
                    
                    <div class = "school-values">
                        
                            <div class="card">
                              <div class="sidebyside">
                                <div class="title">School of Computer Science<br> Evaluation</div>
                                <div class="average">3.8</div>
                              </div>
                                <div class="value">
                                  <div class="bar-text">Research Potential</div>
                                  <input type="range" min="1" max="5" value="4" class="slider" id="myRange5" oninput="updateSlider(this)">
                                </div>
                                <div class="value">
                                  <div class="bar-text">Work Experience</div>
                                  <input type="range" min="1" max="5" value="2" class="slider" id="myRange6" oninput="updateSlider(this)">
                                </div>
                                <div class="value">
                                  <div class="bar-text">Test Scores</div>
                                  <input type="range" min="1" max="5" value="4" class="slider" id="myRange7" oninput="updateSlider(this)">
                                </div>
                                <div class="value">
                                  <div class="bar-text">Technical capabilities</div>
                                  <input type="range" min="1" max="5" value="2" class="slider" id="myRange8" oninput="updateSlider(this)">
                                </div>
                              </div>
                        
                    </div>
                <!-- naman ends -->
                </div>
        </div>


        <div id="right">

            <div id="right-body">

                    <div id="right-body-top">
                        
                        <div id="right-body-top-left">
                          <!--  -->
                            <div id="top-section">
                                <div class="file-section-header">Key Statistics</div>
                                <div class="statistics">
                                  <div class="achievements">
                                    <h3>Education</h3>
                                    <p id="degree"><span class="dot" style="background-color: #316CF5;"></span> B.Tech Computer Engineering</p>
                                    <p id="univeristy"><span class="dot" style="background-color: #316CF5;"></span> S.V.N.I.T. Surat</p>
                                    <p id="GPA"><span class="dot" style="background-color: #316CF5;"></span> GPA: 8/10 </p>
                                    <p id="tier"><span class="dot" style="background-color: #316CF5;"></span> Tier-1 college</p>
                                  </div>
                                  <div class="scores" style="width: 65%; padding-right: 10px;">
                                    <h3>Research</h3>
                                    <p id="research1"><span class="dot" style="background-color: #FF715B;"></span>Teaching Assistant for Data structures and algorithms</p>
                                    <p id="research2"><span class="dot" style="background-color: #FF715B;"></span>Springer Nature Conference: Research paper presented on Machine Learning</p>
                                    <!-- <p><span class="dot" style="color: #316CF5;"></span> IELTS - 7.5 / 9.0</p> -->
                                  </div>
                                </div>
                                <div class="extra-curricular" style="display: flex;">
                                  <div id="A" style="width: 100%;">
                                    <h3>Work experience</h3>
                                    <p id="workex1"><span class="dot" style="background-color: #04E762;"></span>MP Engineers - Software Engineer</p>
                                    <p id="duration1" style="padding-left: 15px;"></span>3 Months: Internship</p>
                                    <p id="workex2"><span class="dot" style="background-color: #04E762;"></span>I.I.M. Udaipur - Software Engineer</p>
                                    <p id="duration2" style="padding-left: 15px;">3 Months: Internship</p>

                                  </div>
                                  <div class="scores" style="padding-left: 15px;">
                                    <h3>Test Scores</h3>
                                    <p id="score2"><span class="dot" style="background-color: #FFD15B;"></span> GRE - 316 / 340</p>
                                    <p id="score1"><span class="dot" style="background-color: #FFD15B;"></span> TOEFL - 112/120</p>
                                    <p id="score3"><span class="dot" style="background-color: #FFD15B;"></span> IELTS - 7.5 / 9.0</p>
                                  </div>
                                  
                                    
                                  <!-- <p><span class="dot" style="color: green;"></span> 1st Prize at MLH Local – Hackday – invented a human sentiment analysis using classification.</p> -->
                                </div>
                            </div>
                          <!--  -->
                            <div id="bottom-section">
                                <div class="file-section">
                                    <div class="file-section-header">Files</div>
                                    <div class="file-buttons">
                                      <button id = "sop" class="file-btn active">SOP</button>
                                      <button id = "gre" class="file-btn">GRE</button>
                                      <button id = "resume" class="file-btn">RESUME</button>
                                      <button id = "ielts" class="file-btn">IELTS</button>
                                      <button id = "lor1" class="file-btn">LOR1</button>
                                      <button id = "lor2" class="file-btn">LOR2</button>
                                      <button id = "lor3" class="file-btn">LOR3</button>
                                    </div>
                                  </div>
                            </div>

                        </div>
                        

                        <div id = "right-body-top-right">
                            <div id="chart"></div>
                            
                        </div>

                    </div>

                    <div id="right-body-bottom">
                        <div class="right-body-bottom-content">
                            <div class="section-header" id="content-header"></div>
                            <div class="content-scrollable" id="content-display">
                        </div>
                          </div>
                    </div>

            </div>
        </div>
        
    </div>
    

    <div class="footer">
        <div >
            <div >POWERED BY ADMIT WISE</div>
        </div>
    </div>
    
    </div>

</body>

</html>